In [8]:
import pandas as pd

In [9]:
pd.DataFrame({'Yes': [50,21], 'No': [131,2]})

   Yes   No
0   50  131
1   21    2

In [10]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
pd.Series(['Bac','BTS','42'], index=['2016','2019','2023'], name='Diplomas')

2016    Bac
2019    BTS
2023     42
Name: Diplomas, dtype: object